
/* <-----------------++-------------->
index page media query
<-----------------++--------------> */

@media (min-width:320px) and (max-width:481px)
{
    .main
    {
        height: 100%;
        padding-bottom: 50px;
    }
    .common-heading h2
    {
        font-size: 35px;
    }
    .converter-container
    {
        width: 90%;
    }
    .unit-container
    {
        width: 90%;
        grid-template-columns: repeat(auto-fit,minmax(90px,1fr));
    }
    .unit-container .unit-col
    {
        width:90px;
        text-align: center;
        
    }
    .unit-container .unit-col i
    {
        font-size: 25px;
    }
    .unit-container .unit-col p
    {
        font-size: 16px;
    }
}
@media (min-width:481px) and (max-width:653px)
{
    .main
    {
        height: 100%;
        padding-bottom: 50px;
    }
    .converter-container
    {
        width: 85%;
    }
    .unit-container
    {
        width: 90%;
        grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    }
    .unit-container .unit-col i
    {
        font-size: 30px;
    }
}
@media (min-width:653px) and (max-width:769px)
{
    .main
    {
        height: 100%;
        padding-bottom: 50px;
    }
    .converter-container
    {
        width: 85%;
    }
    .unit-container
    {
        width: 90%;
        grid-template-columns: repeat(auto-fit,minmax(125px,1fr));
    }
    
    .unit-container .unit-col i
    {
        font-size: 30px;
    }
}

@media (min-width:769px) and (max-width:960px)
{
    .main
    {
        height: 100%;
        padding-bottom: 50px;
    }
    .converter-container
    {
        width: 85%;
    }
    .unit-container
    {
        width: 80%;
        grid-template-columns: repeat(auto-fit,minmax(131px,1fr));
    }
}

@media (min-width:960px) and (max-width:1200px)
{
    .main
    {
        height: 100%;
        padding-bottom: 50px;
    }
    .converter-container
    {
        width: 80%;
    }
    .unit-container
    {
        grid-template-columns: repeat(auto-fit,minmax(134px,1fr));
    }
}
@media (min-width:1200px) and (max-width:1485px)
{
    .converter-container
    {
        width: 70%;
    }
    .unit-container
    {
        grid-template-columns: repeat(auto-fit,minmax(147px,1fr));
    }
}



/* <-----------------++-------------->
length page media query
<-----------------++--------------> */

@media (min-width:320px) and (max-width:365px)
{
    .sidebar-btn
    {
       
        top:170px;
        left: 30px;

    }
    .sidebar-btn i
    {
        display: block;
        font-size: 25px;
    }
    #sliderclosebtn
    {
        display: none;
    }
    .common-container
    {
        width: 90%;
    }
    .flex-container
    {
       flex-direction: column;
       margin-top: 50px;
    }
    .flex-container .converter-inner
    {
        width: 90%;
       margin: auto;
    }
    .length-col h3
    {
        
        font-size: 25px;
    }
    .input-group input
    {
        width: 100%;
    }
    .input-group .check-btn
    {
        margin-top: 20px;
        margin-left: 0px;
    }
    .length-container .length-col:nth-child(1)
    {
        margin-top: 50px;
    }
    .length-container .length-col:nth-child(2)
    {
        margin-top: 50px;
    }
    .sidebar
    {
       
        position: absolute;
        top: 210px;
        left: -350px;
        width: 55%;
        height: 700px;
        overflow: scroll;
        margin-left: 0;
    }
}
@media (min-width:365px) and (max-width:542px)
{
    
    .sidebar-btn i
    {
        display: block;
        font-size: 25px;
    }
    #sliderclosebtn
    {
        display: none;
    }
    .common-container
    {
        width: 90%;
    }
    .flex-container
    {
       flex-direction: column;
       margin-top: 50px;
    }
    .flex-container .converter-inner
    {
        width: 90%;
       margin: auto;
    }
    .length-col h3
    {
        
        font-size: 25px;
    }
    .input-group input
    {
        width: 100%;
    }
    .input-group .check-btn
    {
        margin-top: 20px;
        margin-left: 0px;
    }
    .length-container .length-col:nth-child(1)
    {
        margin-top: 50px;
    }
    .length-container .length-col:nth-child(2)
    {
        margin-top: 50px;
    }
    .sidebar
    {
       
        position: absolute;
        top: 180px;
        left: -350px;
        width: 55%;
        height: 700px;
        overflow: scroll;
        margin-left: 0;
    }
}

@media (min-width:543px) and (max-width:768px)
{
    .sidebar-btn
    {
       
        top:130px;
        left: 30px;

    }
    .sidebar-btn i
    {
        display: block;
    }
    #sliderclosebtn
    {
        display: none;
    }
    .common-container
    {
        width: 90%;
    }
    .flex-container
    {
        margin-top: 50px;
    }
    
    .flex-container .converter-inner
    {
        width: 90%;
       margin: auto;
    }
    .length-container .length-col:nth-child(1)
    {
        margin-top: 50px;
    }
    .length-container .length-col:nth-child(2)
    {
        margin-top: 50px;
    }
    .sidebar
    {
       
        position: absolute;
        top: 180px;
        left: -350px;
        width: 40%;
        height: 700px;
        overflow: scroll;
        margin-left: 0;
    }
}

@media (min-width:769px) and (max-width:960px)
{
    
    .sidebar-btn i
    {
        display: block;
    }
    #sliderclosebtn
    {
        display: none;
    }
    
    .flex-container .converter-inner
    {
        width: 70%;
       margin: auto;
    }
    .length-container .length-col:nth-child(1)
    {
        margin-top: 50px;
    }
    .length-container .length-col:nth-child(2)
    {
        margin-top: 50px;
    }
    .sidebar
    {
        width: 70%;
        position: absolute;
        top: 180px;
        left: -350px;
        width: 30%;
        height: 700px;
        overflow: scroll;
        margin-left: 0;
    }
}

@media (min-width:961px) and (max-width:1200px)
{

}